body {
  background-color: black;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  /* background-image: url("../img/galacticbackground.jpg"); */
  background-size: cover;
}

/* h1 tag */

.h5tag {
  margin-top: -2%;
  color: red;
	-webkit-animation: flash linear 3s infinite;
	animation: flash linear 3s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

/*------------------------------*/

#notes-list {
  text-align: center;
}

.container {
  height: 25em;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

ul {
list-style-type:none;
}

.main-div {
  border-style: solid;
  border-color: orange;
  background-color: #8B008B;
  float: left;
  width: 30em;
  /* margin-right:30%;
  margin-left:30%;
  margin-top:0.5%;
  margin-bottom:0.5%;
  padding-bottom:1%; */
}

.todo-list {
  border-style: solid;
  border-color: orange;
  background-color: #8B008B;
  margin-left: 0.25em;
  padding-right: 2em;
  width: 16em;
  height: 30em;
  overflow: scroll;
}

.image {
  border-style: solid;
  border-color: black;
  border-width: thin;
  margin-bottom: -30px;
  width: auto;
}

.date-span {
  color: orange;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: -1.5%;
  /* border-style: solid;
  border-color: blue;
  border-width: thin;
  padding: 1%; */
}

.noteLi-span {
  font-size: 21px;
  display: inline-block;
  margin-top: 10px;
}

.edit-update {
  font-size: 21px;
}

.editForm-disappear {
  display: none;
}

/* .btn {
  height: 20px;
  /* width: 50px; */
} */

.comment-div {
  float: right;
}



/* quotes */

.quoteName {
  font-size: 15px;
  color: black;
  margin-bottom: -0.5%
}

.quoteContent {
  font-size: 20px;
  color: green;
  margin-top: -5%
}
